@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #2563eb !important;
}